/* ======= DASHBOARD GRID ======= */
.card {
    background: var(--bg-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.card-full {
    width: 100%;
}

/* Ringkasan Grid */
.ringkasan-grid {
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    gap: 20px;
    margin-top: 15px;
}

.ringkasan-info p {
    margin-bottom: 6px;
}

/* Target Boxes */
.target-box {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
}

.target-number {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
    color: var(--primary);
}

/* Middle section */
.mid-grid {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}


.mid-card {
    padding: 20px;
}


.mid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    size: 50%;
}

.mid-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    size: 50%;
}

.mid-content {
    margin-top: 10px;
    text-align: center;
    size: 50%;
}

.mid-number {
    font-size: 48px;
    font-weight: bold;
    color: var(--primary);
    size: 50%;
}

/* Bottom section */
.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.bottom-right textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.clock {
    background-color: var(--primary);
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    gap: 8px;

    width: fit-content;
}


.bottom-buttons {
    display: flex;
    gap: 10px;
}

#header-bottom{
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.btn-grey {
    background: var(--text-muted);
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-red {
    background: red;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
}