@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
  --primary: #054a91;
  --bg-body: #f2f0ef;
  --bg-white: #ffffff;
  --text-primary: #000000;
  --text-muted: #888888;
  --border: #dddddd;
  --border-light: #eeeeee;

  --btn-add: #66d666;
  --btn-filter: #7885ff;
  --btn-green-bg: #eaffea;
  --btn-green-border: #66d666;
  --btn-red-bg: #ffeaea;
  --btn-red-border: #fa7e7e;
  --btn-grey-bg: #eeeeee;
  --btn-grey-border: #aaaaaa;
  --btn-accept: #019D03;
  --btn-reject: #FF2C2C;

  --font-base: "Quicksand", sans-serif;
}

body {
    font-family: var(--font-base);
    margin: 0;
    background: var(--bg-body);
}

.main {
    display: flex;
    height: 100vh;
}
/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 0;
}


.tab-menu {
  display: flex;
  gap: 25px;
  padding: 14px 24px;
  font-size: 18px;
}

.tab {
  border: none;
  background: none;
  cursor: pointer;
  padding-bottom: 6px;
  font-size: 1.2em;
  color: var(--text-primary);
}

.tab.active {
  font-weight: bold;
  border-bottom: 3px solid var(--primary);
}

.bimbingan-list {
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CARD */
.card {
  background: var(--bg-white);
  border-radius: 10px;
  border: 1.5px solid var(--border);
  overflow: hidden;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  padding: 14px 18px;
  background-color: #004BA8;
  color: white;
  font-weight: 600;
}

.dropdown-btn {
  border: none;
  /* background: none; */
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.card-body {
  display: none;
  padding: 18px;
  color: #444;
  font-size: 16px;
  line-height: 28px;
}

p {
  margin: 0;
  font-size: 18px;
  font-style: var(--font-base);
}

p#itemkiri {
  font-weight: bold;
}

.containerutama {
  margin: 0;
  display: flex;
  flex-direction: column;
}


.containerutama .containerGrid {
  display: grid;
  grid-template-columns: 0.3fr 0.5fr;
}

.containerutama .containerGrid2 {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-areas:
    "kiri1 kanan1"
    "kiri2 kanan2"
    "note note";
    gap: 8px;
}


.card.open .card-body {
  display: block;
}

.containerItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

textarea#catatan {
    resize: none;
    border: 2px solid #000000;
    width: 100%;
    grid-area: note;
}

/* BUTTONS */
.card-actions {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.btn {
  border: none;
  padding: 8px 22px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.btn-mahasiswa {
    padding: 6px 12px;
    background-color: var(--bg-white);
    border: 1px solid var(--text-primary);
    cursor: pointer;
    border-radius: 12px;
    margin-left: 25px;
}

.popup-mahasiswa {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.popup-content h3 {
    margin-top: 0;
}

.close-popup {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: var(--btn-reject);
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.listMahasiswa {
    text-align: start;
    padding: 8px 20px;
    margin: 5px;
    background-color: var(--bg-white);
    border: 1px solid var(--text-primary);
    border-radius: 6px;
}