.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.radio-option input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    width: 24px;
    height: 24px;
    border: 2px solid var(--text-primary);
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    outline: none;
    cursor: pointer;
    flex-shrink: 0;
}

.radio-option input[type="radio"]:checked {
    border-color: var(--text-primary);
}

.radio-option input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: var(--text-primary);
    border-radius: 50%;
}

.radio-option label {
    cursor: pointer;
}

.lokasi-lain-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--border);
    border-radius: 10px;
    font-size: 1em;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px;
}

.selesai-btn {
    background-color: var(--primary);
    color: var(--bg-white);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.selesai-btn:hover {
    background-color: #043a72;
}