.main-content {
    padding: 30px 40px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.input-group label {
    font-size: 1em;
    font-weight: bold;
    color: var(--text-primary);
    width: 200px;
    flex-shrink: 0;
}

.password-field {
    display: flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--bg-white);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    margin-right: 15px;
    overflow: hidden;
}

.password-input {
    border: none;
    padding: 5px;
    font-size: 1em;
    width: 100%;
    outline: none;
    background: transparent;
}

.password-toggle {
    padding: 5px;
    cursor: pointer;
    color: var(--text-muted);
}

.lock-icon {
    font-size: 1.5em;
    color: var(--text-primary);
}

/* Footer Ubah Password */
.password-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 30px;
}

.logo-placeholder {
    display: flex;
    align-items: center;
}

.pota-logo {
    height: 30px;
}

.pota-text {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--primary);
    margin-left: 5px;
}

.simpan-btn {
    background-color: var(--primary);
    color: var(--bg-white);
    border: none;
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

.simpan-btn:hover {
    background-color: #043a72;
}