@import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
  --primary: #054a91;
  --bg-body: #f2f0ef;
  --bg-white: #ffffff;
  --text-primary: #000000;
  --text-muted: #888888;
  --border: #dddddd;
  --border-light: #eeeeee;

  --btn-add: #66d666;
  --btn-filter: #7885ff;
  --btn-green-bg: #eaffea;
  --btn-green-border: #66d666;
  --btn-red-bg: #ffeaea;
  --btn-red-border: #fa7e7e;
  --btn-grey-bg: #eeeeee;
  --btn-grey-border: #aaaaaa;
  --btn-accept: #019D03;
  --btn-reject: #FF2C2C;

  --font-base: "Quicksand", sans-serif;
}

body {
  font-family: var(--font-base);
  margin: 0;
  background: var(--bg-body);
}

.main {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 180px;
  background: var(--bg-white);
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.text-navbar {
  font-size: 26px;
  font-weight: bold;
  color: var(--primary);
}

/* Navigation */
.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex-grow: 1;
}

.nav-item {
  display: flex;
  gap: 14px;
  align-items: center;
  color: var(--primary);
  font-size: 18px;
  cursor: pointer;
  padding: 10px 6px;
  border-radius: 8px;
  position: relative;
}

.nav-item.active {
  font-weight: bold;
  color: var(--primary);
}

.nav-item.active::before {
  content: '';
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 6px;
  background-color: var(--primary);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

a {
  text-decoration: none;
}

/* Logout */
.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  border: 2px solid #d1d9e2;
  color: var(--primary);
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s;
}

.btn-logout:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--bg-white);
}

.btn-logout img {
  width: 20px;
  height: 20px;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  padding: 0;
}

.page-title {
  padding: 18px;
  font-size: 28px;
  font-weight: bold;
  background: var(--bg-white);
  color: var(--primary);
  margin: 0;
}

.content-body {
  padding: 20px;
}
