body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6); /* agar mirip popup overlay */
    font-family: Arial, sans-serif;
}

/* Kontainer popup */
.PopValidasiDosen {
    width: 420px;
    background: #ffffff;
    padding-bottom: 15px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    color: #222;
}

/* Layout dua kolom */
.containerUtama {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 10px;
}

/* Kiri */
.areaKiri {
    display: flex;
    flex-direction: column;
}

#kiri1 {
    font-weight: bold;
    color: #343C6A;
    margin-left: 15px;
}

/* Kanan */
.areaKanan {
    display: flex;
    flex-direction: column;
}

#kanan1 {
    color: black;
}

/* Textarea */
textarea {
    width: 90%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f6f7ff;
    font-size: 14px;
    margin-top: 3px;
    resize: none;
}

.headerPop {
    margin: 0;
    width: 100%;
    background-color: #0052cc;   /* Biru seperti gambar */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    box-sizing: border-box;
}

.headerPop .tutupPop {
    position: fixed;
    right: 37%;
}

.judulPop {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.tutupPop {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

