body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    font-family: Arial, sans-serif;
}

.PopValidasiDosen {
    width: 420px;
    background: #ffffff;
    padding: 25px 25px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    color: #222;
}

.containerUtama {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 10px;
}

.areaKiri {
    display: flex;
    flex-direction: column;
}

.kiri {
    font-weight: bold;
    margin: 4px 0;
    color: #343C6A;
}

.areaKanan {
    display: flex;
    flex-direction: column;
}

.kanan {
    margin: 4px 0;
    color: black;
}

.catatan {
    width: 100%;
    height: 90px;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f6f7ff;
    font-size: 14px;
    margin-top: 3px;
}

.areaTombol {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

#btnValidasi {
    padding: 10px 20px;
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

#btnValidasi:hover {
    background: #0054d4;
}
