.content-body{
    box-sizing: border-box;
}

.profil-card {
    background: var(--bg-white);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.05);
}

.profil-card h2 {
    color: var(--primary);
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 500;
}

.section-title-ta {
    margin-top: 40px; 
}


.profil-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 15px;
}

.profil-item {
    background: var(--bg-white);
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
    min-height: 100px;
}

.profil-item h3 {
    font-size: 14px;
    color: #666;
    margin: 0 0 8px 0;
    font-weight: 600;
}

.profil-item p {
    font-size: 18px;
    color: #000;
    margin: 0;
    font-weight: bold;
}

.syarat-status {
    color: #28a745 !important;
}


.split-column {
    display: flex;
    gap: 20px;
}

.split-column .profil-item {
    flex: 1;
    text-align: center;
    align-items: center;
    padding: 15px 10px;
}

.small-box h3 {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.small-box p {
    font-size: 20px;
    color: var(--primary);
    margin: 5px 0 0 0;
}


.profil-footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.btn-password {
    background: #0056b3;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-password:hover {
    background: #004494;
}