:root {
    --primary: #054a91;
    --bg-body: #f2f0ef;
    --bg-white: #ffffff;
    --text-primary: #000000;
    --text-muted: #888888;
    --border: #dddddd;
    --border-light: #eeeeee;

    --btn-add: #66d666;
    --btn-filter: #7885ff;
    --btn-green-bg: #eaffea;
    --btn-green-border: #66d666;
    --btn-red-bg: #ffeaea;
    --btn-red-border: #fa7e7e;
    --btn-grey-bg: #eeeeee;
    --btn-grey-border: #aaaaaa;

    --font-base: "Quicksand", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: gray;
}

.containerLupaSandi{
    display: flex;
    background-color: white;
    width: 573px;
    height: 518px;
    justify-content: center;
    align-items: center;
    border-radius: 48px;
}

#unggah{
    border-radius: 10px;
    background-color: #2F71E4;
    height: 63px;
    width: 178px;
}

#kirim{
    border-radius: 10px;
    background-color: #2F71E4;
    height: 52px;
    width: 124px;
}

#kartuPengenal{
    width: 355px;
    height: 233px;
    border: 1px solid black;
    display: flex;

}

#bawah p{
    color: red;
}