body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/Background/BackgroundUtama.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body .containerUtama {
    width: 964px;
    height: 545px;
    border-radius: 48px;
    display: flex;
    column-gap: 10px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#2F71E4 21%,
            #5089EE 50%,
            #7DA2E4 80%)
}

.containerUtama .overlayKanan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 488px;
    height: 545px;
    border-radius: 48px;
    row-gap: 25px;
    padding: 0;
    margin: 0;
}


.containerUtama .overlayKanan .containerGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 169px;
    row-gap: 25px;
    padding: 0;
    margin: 0;
}

.containerGrid input {
    border-radius: 5px;
    border: 3px solid black;
    width: 200px;
    height: 30px;
}

.overlayKanan button {
    background-color: #2F71E4;
    color: #ffffff;
    border-radius: 10px;
    width: 100px;
    height: 45px;
}


.containerUtama .overlayKiri {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 488px;
    height: 545px;
    border-radius: 48px;
    flex-direction: column;
}

.containerUtama .overlayKiri p {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    width: 312px;
    height: 90px;
    padding: 0;
    margin: 0;
}

.overlayKiri #logo {
    background-image: url('/assets/icons/Logo.svg');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.containerGrid #icon1 {
    width: 35px;
    height: 35px;
}

.containerGrid #icon2 {
    width: 35px;
    height: 35px;
}

.overlayKanan #in {
    display: flex;
    justify-content: flex-start;
    width: 200px;
}

.overlayKanan p {
    font-size: 1.5em;
    color: black;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    font-family: var(--font-base);
}

.error-message p {
    margin: 0;
}