@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

:root {
    --primary: #054a91;
    --bg-body: #f2f0ef;
    --bg-white: #ffffff;
    --text-primary: #000000;
    --text-muted: #888888;
    --border: #dddddd;
    --border-light: #eeeeee;

    --btn-add: #66d666;
    --btn-filter: #7885ff;
    --btn-green-bg: #eaffea;
    --btn-green-border: #66d666;
    --btn-red-bg: #ffeaea;
    --btn-red-border: #fa7e7e;
    --btn-grey-bg: #eeeeee;
    --btn-grey-border: #aaaaaa;

    --font-base: "Quicksand", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: gray;
    font-family: var(--font-base);
}

body .containerUtama {
    width: 964px;
    height: 545px;
    border-radius: 48px;
    display: flex;
    column-gap: 10px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#2F71E4 21%,
            #5089EE 50%,
            #7DA2E4 80%)
}

.containerUtama .overlayKanan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 488px;
    height: 545px;
    border-radius: 48px;
    row-gap: 25px;
    padding: 0;
    margin: 0;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    font-family: var(--font-base);
}

.error-message p {
    margin: 0;
}

.containerUtama .overlayKanan .containerGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 169px;
    row-gap: 25px;
    padding: 0;
    margin: 0;
}

.containerGridinput {
    border-radius: 5px;
    height: 30px;
}

.overlayKanan button {
    background-color: #2F71E4;
    color: #ffffff;
    border-radius: 10px;
    width: 100px;
    height: 45px;
}


.containerUtama .overlayKiri {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 488px;
    height: 545px;
    border-radius: 48px;
}

.containerUtama .overlayKiri p {
    text-align: center;
    font-size: 36px;
    font-family: var(--font-base);
    color: #ffffff;
    width: 312px;
    height: 90px;
}