<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA - Akun</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mahasiswa.css">
</head>

<body>

    <div class="main">
        <aside class="sidebar">
            <div class="logo-container">
                <img src="/assets/icons/logo.svg">
                <span class="text-navbar">POTA</span>
            </div>

            <nav class="nav-menu">
                <a th:href="@{/mahasiswa/beranda}" class="nav-item">
                    <img th:src="@{/assets/icons/ManajemenAkun.svg}" alt="" class="nav-icon"/>
                    <span>Beranda</span>
                </a>

                <a th:href="@{/mahasiswa/jadwal}" class="nav-item">
                    <img th:src="@{/assets/icons/Jadwal.svg}" alt="" class="nav-icon"/>
                    <span>Jadwal</span>
                </a>

                <a th:href="@{/mahasiswa/bimbingan}" class="nav-item">
                    <img th:src="@{/assets/icons/Bimbingan.svg}" alt="" class="nav-icon"/>
                    <span>Bimbingan</span>
                </a>

                <a th:href="@{/mahasiswa/notifikasi}" class="nav-item">
                    <img th:src="@{/assets/icons/Notifikasi.svg}" alt="" class="nav-icon"/>
                    <span>Notifikasi</span>
                </a>

                <a th:href="@{/mahasiswa/profil}" class="nav-item active">
                    <img th:src="@{/assets/icons/Profil.svg}" alt="" class="nav-icon"/>
                    <span>Profil</span>
                </a>

            </nav>

            <div class="logout-section">
                <form th:action="@{/logout}" method="post" style="margin: 0;">
                    <button type="submit" class="btn-logout">
                        <img th:src="@{/assets/icons/LogOut.svg}" alt=""/>
                        Log Out
                    </button>
                </form>
            </div>
        </aside>

        <main class="main-content">
            <header>
                <h1 class="page-title">Profil</h1>
            </header>

            <div class="content-body">
                <div class="profil-card">

                    <h2>Data Pribadi</h2>
                    <div class="profil-grid">
                        <div class="profil-item">
                            <h3>Nama</h3>
                            <p><b th:text="${nama}">Nama Placeholder</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>NPM</h3>
                            <p><b th:text="${npm}">NPM Placeholder</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>Peran</h3>
                            <p><b th:text="${peran}">Peran Placeholder</b></p>
                        </div>
                    </div>

                    <h2 style="margin-top: 40px;">Data Tugas Akhir</h2>
                    <div class="profil-grid">
                        <div class="profil-item">
                            <h3>Dosen Pembimbing 1</h3>
                            <p><b th:text="${dospem1}">Dospem1 Placeholder</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>Dosen Pembimbing 2</h3>
                            <p><b th:text="${dospem2}">Dospem2 Placeholder</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>Syarat Jumlah Kelayakan Sidang</h3>
                            <p><b th:text="${syarat}">Kelayakan Placeholder</b></p>
                        </div>

                        <div class="profil-item" id="small-card">
                            <h3>Total Bimbingan Pra - UTS</h3>
                            <p><b th:text="${pra}">Pra Placeholder</b></p>
                        </div>

                        <div class="profil-item" id="small-card">
                            <h3>Total Bimbingan Pasca - UTS</h3>
                            <p><b th:text="${pasca}">Pasca Placeholder</b></p>
                        </div>
                    </div>

                    <div class="profil-footer">
                        <button class="btn-password"><b>Ubah Password</b></button>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>