<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA - Akun</title>

    <link rel="stylesheet" href="../static/css/dosen.css">
</head>

<body>

    <div class="main">
        <aside class="sidebar">
            <div class="logo-container">
                <img src="../static/assets/icons/logo.svg">
                <span class="text-navbar">POTA</span>
            </div>

            <nav class="nav-menu">

                <a href="DashboardMahasiswa.html" class="nav-item active">
                    <img src="../static/assets/icons/ManajemenAkun.svg">
                    <span>Beranda</span>
                </a>

                <a href="MahasiswaJadwal.html" class="nav-item">
                    <img src="../static/assets/icons/Jadwal.svg">
                    <span>Jadwal</span>
                </a>

                <a href="MahasiswaBimbinganProses.html" class="nav-item">
                    <img src="../static/assets/icons/Bimbingan.svg">
                    <span>Bimbingan</span>
                </a>

                <a href="#" class="nav-item">
                    <img src="../static/assets/icons/Mahasiswa.svg">
                    <span>Mahasiswa</span>
                </a>

                <a href="MahasiswaNotifikasi.html" class="nav-item">
                    <img src="../static/assets/icons/Notifikasi.svg">
                    <span>Notifikasi</span>
                </a>

                <a href="MahasiswaProfil.html" class="nav-item">
                    <img src="../static/assets/icons/Profil.svg">
                    <span>Profil</span>
                </a>

            </nav>

            <button class="btn-logout">
                <img src="../static/assets/icons/LogOut.svg">
                Log Out
            </button>
        </aside>

        <main class="main-content">
            <header>
                <h1 class="page-title">Profil</h1>
            </header>

            <div class="content-body">
                <div class="profil-card">
                    <h2 class="profil-title">Data Pribadi</h2>

                    <div class="profil-icon">
                        <img src="../static/assets/icons/Profil.svg" />
                    </div>

                    <div class="profil-grid">
                        <div class="profil-item">
                            <h3>Nama</h3>
                            <p><b th:text="${namaDosen}">Nama Placeholdler</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>NPM</h3>
                            <p><b th:text="${npmDosen}">NPM Placeholder</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>Peran</h3>
                            <p><b th:text="${peranPengguna}">Peran Placeholder</b></p>
                        </div>

                        <div class="profil-item">
                            <h3>Username</h3>
                            <p><b th:text="${usernameDosen}">Username Placeholder</b></p>
                        </div>
                    </div>

                    <div class="profil-footer">
                        <button class="btn-password"><b>Ubah Password</b></button>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>