<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alasan Batal</title>
    <link rel="stylesheet" href="../../static/css/popupSmall.css">
    <link rel="stylesheet" href="../../static/css/AlasanBatal.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Alasan Batal</h1>
            <span class="close-btn">X</span>
        </div>
        <div class="main-content">
            <textarea id="cancelReason" placeholder="Isi Alasan"></textarea>
        </div>
        
        <div class="footer cancel-footer">
            <button class="batal-btn">Batal</button>
        </div>
    </div>
</body>
</html>