<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA - Akun</title>

    <link rel="stylesheet" href="../static/css/dosen.css">
</head>

<body>

    <div class="main">
        <aside class="sidebar">
            <div class="logo-container">
                <img src="../static/assets/icons/logo.svg">
                <span class="text-navbar">POTA</span>
            </div>

            <nav class="nav-menu">

                <a href="DashboardMahasiswa.html" class="nav-item active">
                    <img src="../static/assets/icons/ManajemenAkun.svg">
                    <span>Beranda</span>
                </a>

                <a href="MahasiswaJadwal.html" class="nav-item">
                    <img src="../static/assets/icons/Jadwal.svg">
                    <span>Jadwal</span>
                </a>

                <a href="MahasiswaBimbinganProses.html" class="nav-item">
                    <img src="../static/assets/icons/Bimbingan.svg">
                    <span>Bimbingan</span>
                </a>

                <a href="#" class="nav-item">
                    <img src="../static/assets/icons/Mahasiswa.svg">
                    <span>Mahasiswa</span>
                </a>

                <a href="MahasiswaNotifikasi.html" class="nav-item">
                    <img src="../static/assets/icons/Notifikasi.svg">
                    <span>Notifikasi</span>
                </a>

                <a href="MahasiswaProfil.html" class="nav-item">
                    <img src="../static/assets/icons/Profil.svg">
                    <span>Profil</span>
                </a>

            </nav>

            <button class="btn-logout">
                <img src="../static/assets/icons/LogOut.svg">
                Log Out
            </button>
        </aside>

        <main class="main-content">
            <header>
                <h1 class="page-title">Beranda</h1>
            </header>

            <div class="content-body">

                <!-- RINGKASAN BIMBINGAN -->
                <section class="card card-full">
                    <h2>Ringkasan Bimbingan</h2>

                    <div class="ringkasan-grid">
                        <div class="ringkasan-info">
                            <p>Semester Aktif : <b>Ganjil 2025/2026</b></p>
                            <p>Tahap Bimbingan : <b>Pra - UTS</b></p>
                            <p>Jumlah Mahasiswa : <b>9</b></p>
                        </div>

                        <div class="target-box">
                            <h3>Pra - UTS</h3>
                            <div class="target-number">2</div>
                            <p>Memenuhi Target Pra - UTS</p>
                            <span>Total Mahasiswa: 7</span>
                        </div>

                        <div class="target-box">
                            <h3>Pasca - UTS</h3>
                            <div class="target-number">-</div>
                            <p>Memenuhi Target Pasca - UTS</p>
                            <span>Total Mahasiswa: 7</span>
                        </div>
                    </div>
                </section>

                <!-- GRID TENGAH -->
                <section class="mid-grid">

                    <div class="card mid-card">
                        <div class="mid-header">
                            <h2>Banyak Pengajuan</h2>
                            <button class="mid-btn">→</button>
                        </div>

                        <div class="mid-content">
                            <div class="target-box">
                                <span class="mid-number">2</span>
                            </div>
                        </div>
                    </div>

                    <div class="card mid-card">
                        <div class="mid-header">
                            <h2>Bimbingan Hari ini</h2>
                            <button class="mid-btn">→</button>
                        </div>

                        <div class="mid-content">
                            <div class="target-box">
                                <span class="mid-number">4</span>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- BIMBINGAN SAAT INI -->
                <section class="card card-full">
                    <div id="header-bottom">
                        <h2>Bimbingan Saat ini</h2>
                        <div class="clock">
                            <img src="../static/assets/icons/Jam.svg" alt=""> 12:00
                        </div>
                    </div>

                    <div class="bottom-grid">
                        <div class="bottom-info">
                            <p>Tanggal : <b>10/8/2025</b></p>
                            <p>Jam : <b>10 : 00 - 11 : 00</b></p>
                            <p>Durasi : <b>1 Jam</b></p>
                            <p>Lokasi : <b>Ruang Tugas Akhir</b></p>
                            <p>Dosen : <b>Maria Veronica</b></p>
                            <p>Mahasiswa : <b>-</b></p>
                        </div>

                        <div class="bottom-right">
                            <textarea placeholder="Catatan:"></textarea>

                            <div class="bottom-buttons">
                                <button class="btn-grey">VALIDASI</button>
                                <button class="btn-red">Batalkan Bimbingan</button>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </main>
    </div>

</body>

</html>