<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA Login</title>
    <link rel="stylesheet" href="/css/StyleLogin.css">
</head>

<body>
    <div class="containerUtama">
        <div class="overlayKiri">
            <p>Selamat Datang di POTA</p>
        </div>
        <div class="overlayKanan">
            <p>Masuk</p>
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/login}" method="post" class="containerGrid">
                <div id="icon">Icon</div>
                <input type="text" name="username" id="akun" placeholder="Masukan Akun Anda">
                
                <div id="icon">Icon</div>
                <input type="password" name="password" id="pass" placeholder="Masukan Password Anda">
                
                <button type="submit">Masuk</button>
            </form>
            <a th:href="@{/lupasandi}">Lupa Kata Sandi?</a>
        </div>
    </div>

    
</body>

</html>