<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lokasi Bimbingan</title>
    <link rel="stylesheet" href="../static/css/popupSmall.css">
    <link rel="stylesheet" href="../static/css/LokasiBimbingan.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Lokasi Bimbingan</h1>
            <span class="close-btn">X</span>
        </div>
        <div class="main-content">
            <div class="radio-option">
                <input type="radio" id="ruangTugasAkhir" name="lokasi" value="ruangTugasAkhir">
                <label for="ruangTugasAkhir">Ruang Tugas Akhir</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="lokasiLain" name="lokasi" value="lokasiLain" checked>
                <label for="lokasiLain">Lokasi Lain</label>
            </div>
            <input type="text" class="lokasi-lain-input">
        </div>
        <div class="footer">
            <button class="selesai-btn">Selesai</button>
        </div>
    </div>
</body>
</html>