<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA Lupa Sandi</title>
    <link rel="stylesheet" href="../static/css/styleLupaSandi.css">
</head>
<body>
    <div class="containerUtama">
        <div class="overlayKiri">
            <div id="logo"></div>
            <p>Selamat Datang di POTA</p>
        </div>
        <div class="overlayKanan">
            <div id="in">
                <p>Masuk</p>
            </div>

            <div class="containerGrid">
                <img src="Asset/mdi_account-outline.png" alt="" id="icon1">
                <input type="text" name="akunHolder" id="akun" placeholder="Masukan Akun Anda">
                <img src="Asset/mdi_password-outline.png" alt="" id="icon2">
                <input type="text" name="passHolder" id="pass" placeholder="Masukan Password Anda">
            </div>
            <button type="button">Masuk</button>
            <a href="">Lupa Kata Sandi?</a>
        </div>
    </div>


</body>
</html>