<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA Lupa Sandi</title>
    <link rel="stylesheet" href="/css/styleLupaSandi.css">
</head>
<body>
    <div class="containerLupaSandi">
        <div id="atas">
            <p>POTA</p>
            <p>Ubah Kata Sandi</p>
            <div id="icon">Icon</div>
            <input type="text" name="akunHolder" id="lupaAkun" placeholder="Tuliskan e-mail anda">
        </div>

        <div id="bawah">
            <button type="button" id="unggah">Unggah</button>
            <div id="kartuPengenal">Kartu Pengenal</div>
            <p>*Password akan direset dengan maksimal 2 hari kerja</p>
            <button type="button" id="kirim">Kirim</button>
        </div>
    </div>
</body>
</html>