<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA - Akun</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="main">
        <aside class="sidebar">
            <div class="logo-container">
                <img src="/assets/icons/logo.svg">
                <span class="text-navbar">POTA</span>
            </div>

            <nav class="nav-menu">
                <a href="#" class="nav-item">
                    <img src="/assets/icons/ManajemenAkun.svg">
                    <span>Beranda</span>
                </a>

                <a href="#" class="nav-item">
                    <img src="/assets/icons/Jadwal.svg">
                    <span>Jadwal</span>
                </a>

                <a href="#" class="nav-item active">
                    <img src="/assets/icons/Bimbingan.svg">
                    <span>Bimbingan</span>
                </a>

                <a href="#" class="nav-item">
                    <img src="/assets/icons/Notifikasi.svg">
                    <span>Notifikasi</span>
                </a>

                <a href="#" class="nav-item">
                    <img src="/assets/icons/Profil.svg">
                    <span>Profil</span>
                </a>

            </nav>

            <button class="btn-logout">
                <img src="/assets/icons/LogOut.svg"> Log Out
            </button>
        </aside>

        <main class="main-content">
            <header>
                <h1 class="page-title">Akun</h1>
            </header>

            <div class="content-body">
            </div>
        </main>
    </div>

</body>

</html>