<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POTA - Akun</title>
    
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="main">
        <aside class="sidebar">
            <div class="logo-container">
                <div class="logo-icon-slot">
                     <img src="../static/assets/icons/logo.svg">
                    </div>
                <span class="text-navbar">POTA</span>
            </div>

            <nav class="nav-menu">
                <a href="#" class="nav-item active">
                    <div class="active-indicator"></div>
                    
                    <div class="icon-slot">
                        <img src="../static/assets/icons/ManajemenAkun.svg">
                        </div>
                    
                    <span>Akun</span>
                </a>

                <a href="#" class="nav-item">
                    <div class="icon-slot">
                        <img src="../static/assets/icons/[namaGambar].svg">
                        </div>
                    <span>Booking</span>
                </a>

                <a href="#" class="nav-item">
                    <div class="icon-slot">
                        </div>
                    <span>Pengaturan</span>
                </a>
            </nav>

            <div class="logout-section">
                <button class="btn-logout">
                    <div class="icon-slot">
                        <img src="../static/assets/icons/LogOut.svg">
                        </div>
                    Log Out
                </button>
            </div>
        </aside>

        <main class="main-content">
            <header>
                <h1 class="page-title">Akun</h1>
            </header>
            
            <div class="content-body">
                </div>
        </main>
    </div>

</body>
</html>